/docs
/dist
/node_modules
/web/node_modules
/web/dist
/package-lock.json
/.cache
/models
*.tsbuildinfo

/README.md

/CHANGELOG.md
/CONTRIBUTING.md
/CODE_OF_CONDUCT.md
/SECURITY.md
/TODO.md

.env
.env.local
.env.development.local
.env.test.local
.env.production.local